#branding-header {
  padding: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 4.725em;
    padding-left: 6.5em;
    background-color: #eee;
}

.ui-listview > li p, .ui-listview > li h2 {
    word-wrap: break-word !important;
    text-overflow: clip;
    overflow: hidden;
    white-space: normal;
}

.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
    position: absolute;
    left: 5px;
    top: 5px;
}

.ui-content {
    padding: 0;
}

.ui-content-margin {
  padding: 1em;
}

.ui-listview > li h2 {
  text-transform: uppercase;
}

.ui-thumbnail-bordered {

    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
