<!DOCTYPE html>
<html>

<!-- https://github.com/wildhaber/nativeDroid2 -->

<head>
	<title>{{title}}</title>

	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-title" content="{{title}}">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes" />

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/touch/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png" />


	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css?{{version}}" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.min.css?{{version}}" />

	<link rel="stylesheet" type="text/css" href="/static/vendor/waves/waves.min.css?{{version}}" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/wow/animate.css?{{version}}" />
	<link rel="stylesheet" type="text/css" href="/static/css/nativedroid2.css?{{version}}" />

	<link rel="stylesheet" type="text/css" href="/static/css/app.css?{{version}}" />

</head>

<body>
	{% for page in pages %}
	<div data-role="page" id="{{page['id']}}">

  	<div data-role="header" data-position="fixed" class="wow fadeIn">
      <a href="#home" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-home"></i></a>
			<h1 class="wow fadeIn" data-wow-delay='0.4s' >{{project_name}}</h1>
      <a href="#about" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-info"></i></a>
		</div>
		<!-- /header -->

		<div role="main" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">

			<div id="branding-header">
				<img src="{{page['img']}}?{{version}}" width="100%">
			</div>

			<div class="ui-content-margin">
				{% for section in page['sections'] %}
				<ul data-role="listview" data-icon="false">

					{% if section['html'] %}
					<div class="item-verbatim">
						{{section['html']|safe}}
					</div>
					{% endif %}

					<li data-role="list-divider" >
						{% if section['icon'] %}
						<i class="zmdi zmdi-{{section['icon']}}">&nbsp;</i> {% endif %} {{ section['title'] }}
					</li>

					{% if section['list'] %}
						{% for item in section['list'] %}
						<li class="app-list">
							<a href="{{item['link']}}" data-transition="slide" >
								<img src="{{item['img']}}" class="ui-thumbnail ui-thumbnail-bordered" />
								<h2>
									{{item['title']}}
								</h2>
								{% if item['html'] %}
								<p>
									{{item['html']|safe}}
								</p>
								{% endif %}
							</a>
						</li>
						<br>
						{% endfor %}
					{% endif %}
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- /page -->
	{% endfor %}


	<div data-role="page" id="about">

		<div data-role="header">
			<a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
			<h1>{{project_name}}</h1>
		</div>
		<!-- /header -->

		<div data-role="content" role="main">

			<div id="branding-header">
				<img src="{{pages[0]['img']}}?{{version}}" width="100%">
			</div>

			<div class="ui-content-margin">

				<div class="nd2-card">
					<div class="card-title has-supporting-text">
						<h3 class="card-primary-title">About</h3>
					</div>
					<div class="card-supporting-text has-action has-title">
						Kadist is a non-profit arts organization that believes the arts make a fundamental contribution to a progressive society. Its programs actively encourage the engagement of artists, often represented in its collection, with the important issues of today
						to promote their role as cultural agents. Kadist's collections and productions reflect the global scope of contemporary art, and its programs develop collaborations with artists, curators and many art organizations around the world. Local programs
						in Kadist's hubs of Paris and San Francisco, including exhibitions, public events, residencies and educational initiatives, aim at creating vibrant conversations about contemporary art and ideas.
					</div>
				</div>

				<div class="nd2-card">
					<div class="card-media">
						<img src="/static/images/vincent.jpg?{{version}}">
					</div>

					<div class="card-supporting-text">
						<h3>Vincent Worms, Chairman</h3>
					</div>
				</div>


				<div class="nd2-card">
					<div class="card-supporting-text">
						<h4>SAN FRANCISCO STAFF</h4>
						<ul>
							<li><b>Pete Belkin:</b> Media and Production
							<li><b>Devon Bella:</b> Collections and Residencies
						  <li><b>Arash Fayez:</b> Online Mediation
						  <li><b>Marie Martraire:</b> Asia Programs
						  <li><b>Alex Matson:</b> Administration
						  <li><b>Heidi Rabben:</b> Events and Exhibitions
						</ul>
					</div>
				</div>

				<div class="nd2-card">
					<div class="card-media">
						<div style="width:100%;max-width:100%;overflow:hidden;height:350px;color:red;">
							<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
								<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=3295+20th+Street,+San+Francisco,+CA+94110,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
							</div>
							<style>
								#google-maps-canvas img {
									max-width: none!important;
									background: none!important;
									font-size: inherit;
								}
							</style>
						</div>
					</div>

					<div class="card-supporting-text">
						<h3>San Francisco</h3>
					</div>
				</div>

				<div class="nd2-card">
					<div class="card-supporting-text">
						<h4>PARIS STAFF</h4>
						<ul>
							<li><b>Émilie Villez:</b> Director
							<li><b>Léna Monnier / Élodie Royer:</b> Communications and Collections
						  <li><b>Sophie Potelon:</b> Production and Mediation
						</ul>
					</div>
				</div>

				<div class="nd2-card">
					<div class="card-media">
						<div style="width:100%;max-width:100%;overflow:hidden;height:350px;color:red;">
							<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
								<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=19bis/21+rue+des+Trois+Frères,++75018++paris&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
							</div>
							<style>
								#google-maps-canvas img {
									max-width: none!important;
									background: none!important;
									font-size: inherit;
								}
							</style>
						</div>
					</div>

					<div class="card-supporting-text">
						<h3>Paris</h3>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /page -->



    <script src="/static/js/jquery.min.js?{{version}}"></script>
    <xscript src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js?{{version}}"></script>
    <script src="/static/js/jquery.mobile.min.js?{{version}}"></script>
    <script src="/static/vendor/waves/waves.min.js?{{version}}"></script>
		<script src="/static/vendor/wow/wow.min.js?{{version}}"></script>
    <script src="/static/js/nativedroid2.js?{{version}}"></script>

		<<script type="text/javascript">

			new $.nd2Toast({
				message : "Welcome to Kadist",
				action : {
					color : "lime"
				},
				ttl : 4000
			});

		</script>


</body>

</html>
