<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-title" content="{{project_name}}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

	<link rel="apple-touch-icon" href="/static/images/launch_icon_57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />


	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/waves/waves.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/wow/animate.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/nativedroid2.css" />



    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="/static/vendor/waves/waves.min.js"></script>
	<script src="/static/vendor/wow/wow.min.js"></script>
    <script src="/static/js/nativedroid2.js"></script>

	<style>
		/* Prevent FOUC */
		body { opacity: 0; }
	</style>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

</head>

<body>
	{% for page in pages %}
	<div data-role="page" id="{{page['id']}}">

      	<div data-role="header" data-position="fixed" class="wow fadeIn">
        	<a href="#home" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-menu"></i></a>
			<h1 class="wow fadeIn" data-wow-delay='0.4s' >{{project_name}}</h1>
		</div>
		<!-- /header -->

		<div role="main" class="ui-content wow fadeIn" data-inset="false" data-wow-delay="0.2s">

			<div id="branding-header">
				<img src="{{page['img']}}" width="100%">
			</div>

			{% for section in page['sections'] %}
			<ul data-role="listview" data-icon="false">

			<ul data-role="listview" data-icon="false">

				{% if section['html'] %}
				<div class="item-verbatim">
					{{section['html']|safe}}
				</div>
				{% endif %}

				<li data-role="list-divider" >
					{% if section['icon'] %}
					<i class="zmdi zmdi-{{section['icon']}}">&nbsp;</i> {% endif %} {{ section['title'] }}
				</li>

				{% if section['list'] %}
					{% for item in section['list'] %}
					<li class="app-list">
						<a href="{{item['link']}}" data-transition="fade">
							<img src="{{item['img']}}" class="ui-thumbnail ui-thumbnail-circular" />
							<h2>
								{{item['title']}}
							</h2>
							{% if item['html'] %}
							<p>
								{{item['html']|safe}}
							</p>
							{% endif %}

						</a>
					</li>
					{% endfor %}
				{% endif %}
			</ul>
			{% endfor %}
		</div>
	</div>
	<!-- /page -->
	{% endfor %}


	<div data-role="page" id="about">

		<div data-role="header">
			<a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
			<h1>{{project_name}}</h1>
		</div>
		<!-- /header -->

		<div data-role="content" role="main">

			<div id="branding-header">
				<img src="{{pages[0]['img']}}" width="100%">
			</div>


			<h1>ABOUT</h1>
			<p>Kadist is a non-profit arts organization that believes the arts make a fundamental contribution to a progressive society. Its programs actively encourage the engagement of artists, often represented in its collection, with the important issues of today
				to promote their role as cultural agents. Kadist's collections and productions reflect the global scope of contemporary art, and its programs develop collaborations with artists, curators and many art organizations around the world. Local programs
				in Kadist's hubs of Paris and San Francisco, including exhibitions, public events, residencies and educational initiatives, aim at creating vibrant conversations about contemporary art and ideas.

				<b>Vincent Worms, Chairman</b>

				<h2>San Francisco</h2>
				<div style="width:100%;max-width:100%;overflow:hidden;height:500px;color:red;">
					<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
						<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=3295+20th+Street,+San+Francisco,+CA+94110,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
					</div>
					<style>
						#google-maps-canvas img {
							max-width: none!important;
							background: none!important;
							font-size: inherit;
						}
					</style>
				</div>

				<h2>Paris</h2>
				<div style="width:100%;max-width:100%;overflow:hidden;height:500px;color:red;">
					<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
						<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=19bis/21+rue+des+Trois+Frères,++75018++paris&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
					</div>
					<style>
						#google-maps-canvas img {
							max-width: none!important;
							background: none!important;
							font-size: inherit;
						}
					</style>
				</div>


			</p>
		</div>
	</div>
	<!-- /page -->


</body>

</html>
