<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-title" content="{{project_name}}">

	<link rel="apple-touch-icon" href="/static/images/launch_icon_57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />

	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery.mobile.flatui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

	<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/jquery.mobile-1.3.1.min.js') }}"></script>

</head>

<body>
	{% for page in pages %}
	<div data-role="page" id="{{page['id']}}">

		<div data-role="header">
			<a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
			<h1>{{project_name}}</h1>
		</div>
		<!-- /header -->

		<div data-role="content" role="main">

			<div id="branding-header">
				<img src="{{page['img']}}" width="100%">
			</div>

			{% for section in page['sections'] %}
				<ul data-role="listview" data-inset="true">

					<li data-role="list-divider" data-theme="b">
						{% if section['icon'] %}
							<span class="ui-icon-flat-{{section['icon']}}">&nbsp;</span>
						{% endif %}
						{{ section['title'] }}
					</li>
				</ul>


				<ul data-role="listview" data-inset="true">
					{% if section['html'] %}
						<div class="item-verbatim">
							{{section['html']|safe}}
						</div>
					{% endif %}

					{% if section['list'] %}
						{% for item in section['list'] %}
						<li class="app-list">
							<a href="{{item['link']}}" data-transition="slide">
								<img class="thumbnail" height="100%" src="{{item['img']}}" />
								<div class="item-title">
									{{item['title']}}
								</div>
								{% if item['html'] %}
									<div class="item-html">
										{{item['html']|safe}}
									</div>
							  {% endif %}

							</a>
						</li>
						<br>
						{% endfor %}
					{% endif %}
				</ul>
			{% endfor %}
		</div>
	</div>
	<!-- /page -->
  {% endfor %}


	<div data-role="page" id="about">

		<div data-role="header">
			<a data-iconpos="notext" href="#home" data-role="button" data-icon="home" title="Home">Home</a>
			<h1>{{project_name}}</h1>
		</div>
		<!-- /header -->

		<div data-role="content" role="main">

			<div id="branding-header">
				<img src="{{pages['img']}}" width="100%">
			</div>


			<h1>ABOUT</h1>
			<p>Kadist is a non-profit arts organization that believes the arts make a
				fundamental contribution to a progressive society. Its programs actively
				encourage the engagement of artists, often represented in its collection,
				with the important issues of today to promote their role as cultural
				agents. Kadist's collections and productions reflect the global scope
				of contemporary art, and its programs develop collaborations with artists,
				curators and many art organizations around the world. Local programs in
				Kadist's hubs of Paris and San Francisco, including exhibitions, public
				events, residencies and educational initiatives, aim at creating vibrant
				conversations about contemporary art and ideas.

				<b>Vincent Worms, Chairman</b>
			</p>
		</div>
	</div>
	<!-- /page -->


</body>

</html>
